@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

.about {
    height: 80vh;
    background-color: $white;
}

.aboutFlex {
    display: flex;
    height: 100%;
    padding-top: 8rem;
}

.aboutService {
    background-color: $green;
    opacity: .7;
    width: 50%;
    height: 40%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 4rem;
    border-radius: 20px;
}

.aboutText {
    width: 50%;
}

.aboutText h2 {
    font-family: 'Lora', serif;
    font-size: .9rem;
    font-weight: 900;
    padding-bottom: 1rem;
}

.aboutText h3 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 1rem;
}


.aboutText button {
    background-color: $green;
    font-family: 'Lora', serif;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}

.aboutService p {
    color: $white;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding-left: 1rem;
    padding-top: 3.5rem;
}

@media (max-width: 950px) {
    .aboutFlex {
        flex-direction: column;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .aboutText button {
        margin-bottom: 1rem;
    }

    .aboutService {
        height: 20%;
        margin-left: 0;
    }

    .aboutService p {
        padding-top: 1rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 780px){
    .aboutService {
        display: none;
    }
}

@media (max-width: 600px) {
    .aboutFlex {
        padding-top: 2rem;
    }
}

@media (max-width: 560px) {
    .about {
        height: 90vh;
    }
    .aboutText h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 430px) {

    .about {
        height: 100vh;
    }
}

@media (max-width: 370px) {
    .about {
        height: 120vh;
    }
}
