@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

.blog {
    min-height: 100vh;
    background-color: $green;
}

.blog h2 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding-top: 5rem;
}

.blogHeadingText {
    color: $white;
    font-family: 'Lora', serif;
    text-align: center;
    font-weight: 500;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 2rem;
}

.blogFlex {
    display: flex;
}

.blogArticle {
    width: 32%;
    background-color: $white;
    border-radius: 5px;
}

.blog img {
    width: 100%;
    height: 100%;
}

.blogImageContainer {
    padding: .6rem
}

.blog h3 {
    line-height: 2rem;
    font-family: 'Lora', serif;
    padding-bottom: 1.2rem;
}

.blogArticleText {
    color: $black;
    font-family: 'Lora', serif;
    font-size: .9rem;
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
}