@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

// Contact Header

.contactHiero {
    height: 50vh;
    background-image: url(../assets/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactHiero h1 {
        font-size: 2.2rem;
        font-family: 'Lora', serif;
        font-weight: bold;
        color: $white;
}

// Contact Main