@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

// Contact Header

.contactHiero {
    height: 50vh;
    background-image: url(../assets/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactHiero h1 {
        font-size: 2.2rem;
        font-family: 'Lora', serif;
        font-weight: bold;
        color: $white;
}

// Contact Main

.contact {
    min-height: 100vh;
    background-color: $white;
}

.contactAddress {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.addressBox {
    width: 50%;
    height: 25vh;
    border-left: $green 10px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 0 10px lightgrey;
}

.addressBox h3 {
    padding-bottom: 1rem;
}

.addressBox h3, p {
    padding-left: 2rem;
}