@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

// nav bar

.navigation {
    height: 10vh;
    background-color: $white;
    box-shadow: 0px 10px 2px lightgray;
}

.logo {
    padding-top: .5rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navList {
    display: flex;
    align-items: center;
}

.navIcon {
    width: 40%;
    height: 40%;
}

.navList li {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

a:link {
    color: $black;
}

a:hover, a:focus {
    color: $green;
}

// header

.hiero {
    height: 100vh;
    background-image:url(../assets/header/background.png);
    background-size: cover;
}

.hieroFlex {
    height: 100%;
    display: flex;
    align-items: center;
}

.hieroText {
    width: 50%;
}


.hieroImage {
    width: 50%;
}

.imgHiero {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2.2rem;
    font-family: 'Lora', serif;
    font-weight: bold;
    padding-bottom: 1rem
}

.hieroP {
    line-height: 1.4rem;
    padding-bottom: 1rem;
}

.hieroButton {
    background-color: $green;
    font-family: 'Lora', serif;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 15px;
    
}

@media (max-width: 800px) {
    .hieroFlex {
        flex-direction: column;
        justify-content: center;
    }

    .hieroText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
    }

    .hieroP {
        text-align: center;
    }

    .hieroButton {
        margin-bottom: 2rem;
    }
}

@media (max-width: 600px) {
    .imgHiero {
        display: none;
    }
    .logo {
        display: none;
    }

    .navList {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .navList {
        flex-wrap: wrap;
    }
}