@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

.info {
    min-height: 70vh;
    background-image: url(../assets/cow.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}


.infoFlex {
    display: flex;
    justify-content: space-evenly;
}

.info article  {
    width: 23%;
    margin-top: 6rem;
}

.info p {
    font-family: 'Barlow', sans-serif;
    font-size: .85rem;
    line-height: 1.5rem;
    padding-top: 1rem;
}

.iconList {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.info article h3 {
    font-family: 'Lora', serif;
    padding-bottom: .5rem;
}

.infoArticleList li {
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    font-size: .8rem;
    padding-top: 1rem;
}