@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

.info {
    min-height: 70vh;
    background-image: url(../assets/cow.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}


.infoFlex {
    display: flex;
    justify-content: space-between;
}

.info article  {
    width: 23%;
    margin-top: 6rem;
}

.info p {
    font-family: 'Barlow', sans-serif;
    font-size: .85rem;
    line-height: 1.5rem;
    padding-top: 1rem;
}

.iconList {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.article2 {
    padding-left: 1.5rem;
}

.info article h3 {
    font-family: 'Lora', serif;
    padding-bottom: .5rem;
}

.infoArticleList li {
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
    font-size: .8rem;
    padding-top: 1rem;
}

.productImageContainer {
    height: 25%;
    width: 25%;
    padding-top: .5rem;
}

.recentProduct {
    display: flex;
    padding-top: 1rem;
}

.recentProduct img {
    width: 100%;
    height: 100%;
}

.infoSpan {
    color: $green;
    font-weight: 800;
}

.recentProduct p {
    padding-top: 0;
    padding-left: 1rem;
}

h4 {
    font-size: .85rem;
    font-family: 'Barlow', sans-serif;
    padding-top: 1rem;
}

form {
    padding-top: 1rem;
}

textarea {
    font-family: 'Lora', serif;
    padding: 1rem;
    color: gray;
    font-size: .8rem;
}