@use './variables' as *;

// font-family: 'Barlow', sans-serif;

// font-family: 'Lora', serif;

.product {
    min-height: 100vh;
    background-color: $white;
}

.product h2 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.productText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productText p {
    text-align: center;
    line-height: 1.8rem;
    font-weight: 500;
}

.vegetableImage img {
    width: 100%;
    height: 100%;
}

.vegetableText {
    border-left: 1px solid rgb(235, 229, 229);
    border-bottom: 1px solid rgb(235, 229, 229);;
    border-right: 1px solid rgb(235, 229, 229);;
}

.vegetableText h3 {
    font-family: 'Lora', serif;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
}

.vegetableText p {
    font-family: 'Barlow', sans-serif;
    padding-bottom: 1rem;
    padding-left: .5rem;

}

.galleryFlex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.price {
    color: $green;
    font-weight: 900;
}

.formerPrice {
    text-decoration: line-through;
}

.productArticle {
    width: 22%;
    margin-top: 2.5rem;
}

.productButton {
    background-color: $green;
    font-family: 'Lora', serif;
    font-size: .9rem;
    color: $white;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 15px;
    position: relative;
    top: 20px;
    left: 20px;
}

.loadButtonFlex {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.loadButton {
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: .8rem;
    background-color: $green;
    color: $white;
    font-weight: 900;
    padding-top:.5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right:.75rem;
    border-radius: 20px;
}

@media (max-width: 1150px) {
    .productArticle {
        width: 30%;
    }
}

@media (max-width: 700px) {
    .productArticle {
        width: 45%;
    }
}

@media (max-width: 450px) {
    .galleryFlex {
        flex-direction: column;
        align-items: center;
    }

    .productArticle {
        width: 80%;
    }
}